/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'barlow';
    font-size: 14px;
}

body{
    background-color: #ffffff;
}

.header1{
  background-color: #545657;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 33px;
  padding:5px 10%;
}

.header1 .lista1 {
  list-style: none;
  position: relative;
  right: 40px;
}

.header1 .lista1 li {
  display: inline-block;
  padding: 0 20px; 
  color: #eceff1;
  font-size: 13px;
}


.header1 .relleno {
  color: #545657 ;
  position: relative;
  right: -50px;
}


.header2{
    background-color: #fdfeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}

.header2 .logo{
    cursor: pointer;
}

.header2 .logo img{
    height: 49px;
    width: auto;
    transition: all 0.3s;
    position: relative;
    left: 45px;
}

.header2 .logo img:hover{
    transform: scale(1.2);
}

.header2 .nav-links{
    list-style: none;
}

.header2 .nav-links li{
    display: inline-block;
    padding: 0 13px;    
    position: relative;
    right: -40px;
}

.header2 .nav-links li:hover{
    transform: scale(1.1);
}

.header2 .nav-links a{
    color: #0033A0;
    text-decoration: none;   
    /*font-weight: bold;*/
    font-size: 14px;
}

.header2 .nav-links li a:hover{
    color: #ffbc0e;
}

.header2 .desplegable {
  display: inline-block;
  position: relative;
  left: -13px;
}

.header2 .desplegable-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.header2 .desplegable:hover .desplegable-content {
  display:block;
}

.header2 .desplegable-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color: #fdfeff;
}

.header2 .desplegable-content a:hover {
  background-color: #bbc1c2;
}

.header2 .desplegable .boton {
  background-color:#0033A0;
  color:#e2f1f8;
  border: 10px solid #0033A0;
  border-radius: 40px;
}

.header2 .buscar img{
  height: 31px;
  position:relative;
  right: 60px;
  justify-content: center;
  width: auto;
  }

.header3{
  background-color: #00a3E0;
  display: flex;
  align-items:center;
  justify-content: right;
  height: 41px;
  padding:5px 10%
}

.header3 .listaheader2 {
  list-style: none;
  position:relative;
  right: 60px;
}

.header3 .listaheader2 li {
  display: inline-block;
  padding: 0 10px; 
}

.header3 .listaheader2 a{
  font-size: 700;
  color: #eceff1;
  text-decoration: none; 
  font-weight: bold;   
}

.header3 .EPSestilo {
  position: relative;
  left: -365px;
  font-size: 19px;
  color: #eceff1;
  font-weight: bold;
}

/*slider*/ 

.container-slider {
  width: 100%;
  max-width: 100%;
  margin:auto;
  overflow: hidden;
  position: relative;
 }

.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}

.slider__section {
 width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position:absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover {
  background: #fff;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}